<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="UTF-8">
    <title>获取token</title>
</head>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<body>
<div class="page-header" style="text-align: center">
    <h5 style="color: goldenrod">金盾钱包SDK在线调试</h5>
</div>
<div class="row">
    <div class="col-sm-1" style="padding: 10px 20px 10px 0px;">
        <p class="text" style="text-align: center ;color:deepskyblue ;padding-left: 30px" >调试菜单</p>
        <nav class="navbar bg-light">
            <ul class="navbar-nav" style="list-style:none" ;>
                <li class="nav-item" style="padding:10px 0px 10px 0px">
                    <a class="nav-link" href="index">获取token</a>
                </li>
                <li class="nav-item" style="padding:10px 0px 10px 0px">
                    <a class="nav-link" href="./address">获取地址</a>
                </li>
                <br>
                <li class="nav-item" style="padding:10px 0px 10px 0px">
                    <a class="nav-link" href="./transfer">提币申请</a>
                </li>
                <br>
                <li class="nav-item" style="padding:10px 0px 10px 0px">
                    <a class="nav-link" href="./check">检验地址</a>
                </li>
                <br>
                <li class="nav-item" style="padding:10px 0px 10px 0px">
                    <a class="nav-link" href="./transaction">交易模拟</a>
                </li>

                <li class="nav-item" style="padding:10px 0px 10px 0px">
                    <a class="nav-link" href="./strategy">币种策略</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-5">
        <div style="padding: 10px 100px 10px 0px;width:800px;">
            <form class="bs-example bs-example-form" role="form" id="form">
                    <div class="input-group">
                        <span class="input-group-addon">商户Id</span>
                        <input id="mid" type="text" class="form-control" name="merchantId"  placeholder="请输入" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">钱包编号</span>
                        <input id="wno" type="text" class="form-control" name="walletNo" placeholder="请输入" required>
                    </div>
                    <br>
                    <div class=" input-group">
                        <span class="input-group-addon">APIKEY</span>
                        <input id="apk" type="text" class="form-control" name="apiKey" placeholder="请输入" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">网关地址</span>
                        <input id="gwu" type="text" class="form-control" name="gatewayUrl" placeholder="请输入" required>
                    </div>
                    <br>
                    <button id="btn" type="button" class="btn btn-default" onclick="tibia()" >提交</button>
            </form>
            <br>
            <div class="alert alert-info">
                <p class="text">请先获取token</p>
                <p class="text">所有参数请参考SDK对接文档正确填写</p>
            </div>
        </div>
    </div>
    <div class="col-sm-5" style="padding: 10px 100px 10px 100px;">
        <h4>返回结果</h4>
        <textarea rows="20" cols="75" id="tx">
        </textarea>
    </div>
</div>
<script type="text/javascript">
    function  getBasePath(){
        let path = window.location.pathname.split("/");
        let basePath = path[0]+"/"+path[1]+"/";
        return basePath;
    }
function tibia(){
    //let data = $("form").serialize();
//调用.form()方法来真正执行表单验证。
    if(validateForm().form()){
        $.ajax({
            type: "post",
            url: getBasePath()+"api/getToken",
            data: JSON.stringify({
                merchantId: $('#mid').val()
                , walletNo: $('#wno').val()
                , apiKey: $('#apk').val()
                , gatewayUrl: $('#gwu').val()
            }),
            //data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                console.log(result);
                $('#tx').html(JSON.stringify(result.data));
                if(result.code==500){
                    $('#tx').html(JSON.stringify(result.message));
                }
                if(result.code==50010 && result.code!=200){
                    $('#tx').html(JSON.stringify(result.message));
                }
                if(result.code==50006&& result.code!=200){
                    $('#tx').html(JSON.stringify(result.message));
                }
                if(result.code==50003&& result.code!=200){
                    $('#tx').html(JSON.stringify(result.message));
                }
            },
            error: function (result) {
                $('#tx').html(result.state);
            }
        });

    }
}
//1、定义表单验证的方法，返回表单验证结果：true或false
//（此处并不执行表单验证，只是定义一个有返回值的方法）
function validateForm() {
    return $("#form").validate({
        rules: {
            merchantId : {required: true},
            walletNo: {required: true},
            apiKey:{required: true},
            gatewayUrl:{required: true}
        },
        messages: {
            merchantId: {required: "这是必填字段"},
            walletNo: {required: "这是必填字段"},
            apiKey:{required: "这是必填字段"},
            gatewayUrl:{required: "这是必填字段"}
        }
    });
}

</script>
</body>
</html>